$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1500px;

$white: #ffffff;
$red: #ff0000;
$black: #000000;
$black-10: #2c2c2c;
$black-20: #6e6e6e;
$black-30: #4b4b4b;
$gray-10: #f5f5f5;
$gray-20: #f0f0f0;
$gray-30: #e0e0e0;

$primary-blue: #1473e6;
$member-green: #004505;
$loader-border-color: rgba(0, 0, 0, 0.1);

$spacing: 2rem;

$spacing-md: 3rem;

@mixin flex-box($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin separator() {
  width: 0.2rem;
  height: 0.2rem;
  background: $black-20;
  border-radius: 50%;
}

@mixin flex-wrap($wrap: wrap) {
  flex-wrap: $wrap;
}

@mixin flex-gap($gap: 1rem) {
  gap: $gap;
}

@mixin text-small($color: $black-20) {
  font-weight: 500;
  font-size: 1.2rem;
  color: $color;
}

@mixin text-small-bold($color: $black-20) {
  @include text-small($color);
  font-weight: 700;
}

@mixin text-regular($color: $black-20) {
  font-weight: 400;
  font-size: 1.4rem;
  color: $color;
}

@mixin text-lg($color: $black-20) {
  font-weight: 500;
  font-size: 3.2rem;
  color: $color;
}

@mixin text-lg-bold($color: $black-20) {
  @include text-lg($color);
  font-weight: 700;
}

@mixin text-lg-bolder($color: $black-20) {
  @include text-lg($color);
  font-weight: 900;
}

@mixin text-clamp($lines: 4) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
